<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>

    <link href="{{E.BOOTSTRAP_CSS}}" rel="stylesheet">
	</head>
	<body>
  
		<div class="container">

			<ol class="breadcrumb">
				<li><a href="/{{R.SUFFIX}}">HOME</a></li>
			{{#include "." "parents"}}
				<li><a href="{{path}}{{R.SUFFIX}}">{{name}}</a></li>
			{{/include}}
				<li class="active">{{R.NAME}}</li>
			</ol>

			<div class="btn-group btn-group-sm" style="margin-bottom:20px">
				<a class="btn btn-default" href="{{R.PATH}}.xres-create">create</a>
				<a class="btn btn-default" href="{{R.PATH}}.xres-properties">properties</a>
			</div>

			<table class="table table-bordered table-condensed small text-muted" style="background-color:lightgray">
			{{#include "." "properties"}}
				<tr>
					<td>
						{{name}}
					</td>
					<td>
						{{value}}
					</td>
				</tr>
			{{/include}}
        <tr>
          <td>resource type</td>
          <td>{{type}}</td>
        </tr>

        <tr>
          <td>render type</td>
          <td>{{renderType}}</td>
        </tr>
			</table>

      <table class="table ui-dropzone">
        {{#include "." "children"}}

          {{#if isContentResource}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-file"></i> <a href="{{path}}.xedit">{{name}}</a>
            </td>
            <td>
              {{contentType}}
            </td>
            <td class="text-right">
              <a href="{{path}}.xres-delete">[x]</a>
              <a href="{{path}}.xres-copyto/">[c]</a>
              <a href="{{path}}.xres-moveto/">[m]</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-folder-close"></i> <a href="{{path}}{{R.SUFFIX}}">{{name}}</a>
            </td>
            <td>
              {{#if type}}
              <a href="{{R.PATH}}/{{name}}.xres-renderer">{{type}}</a>
              {{/if}}
            </td>
            <td class="text-right">
              {{#if type}}
              <a target="_blank" href="{{R.PATH}}/{{name}}.xhtml">[v]</a>
              {{/if}}
              <a href="{{path}}.xres-delete">[x]</a>
              <a href="{{path}}.xres-copyto{{path}}/..">[c]</a>
              <a href="{{path}}.xres-moveto/">[m]</a>
            </td>
          </tr>
          {{/if}}

        {{/include}}
      </table>

		</div>
	</body>
</html>
