<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  <title>delete:{{R.PATH}}</title>
</head>

<body>
  <h1>Delete "{{name}}"
    <a class="ui_button pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>

  <ol class="ui_paths">
    <li>HOME / </li>
{{#include "." "parents"}}
    <li>{{name}} / </li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>Are you sure you want to delete "{{name}}"?

  <form method="post" action="{{res_path "."}}">
    <input type="hidden" name="_rt" value="{{renderType}}">
    <input type="hidden" name=":delete" value="{{res_path "."}}">
    <input type="hidden" name=":forward" value="{{req_path "." "ui-close"}}">
    <button type="submit">delete</button>
  </form>
  </h4>

</body>

</html>
