<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  
  {{include_css "_libs/ui.css" "resource/node/res-list.css"}}

  <title>list:{{R.PATH}}</title>
</head>

<body class="ui_group">

  <ol class="ui_paths">
    <li><a href="{{req_path "/"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <div class="ui_button-group">
    <a class="ui_button" target="_blank" href="{{req_path "." "res-create"}}">new</a>
    <a class="ui_button" target="_blank" href="{{req_path "." "res-renderer"}}">render</a>
{{#if renderType}}
    <a class="ui_button" target="_blank" href="{{req_path C.USER_TEMPLATES "/" renderType "res-list"}}">temp</a>
    <a class="ui_button" target="_blank" href="{{req_path "." "default"}}">render as ({{renderType}})</a>
{{/if}}
    <a class="ui_button" target="_blank" href="{{req_path "." "res-properties"}}">properties</a>
    <a class="ui_button" target="_blank" href="{{req_path "." "dump"}}">dump</a>

    <form class="pull-right" method="get" action="{{req_path "." "res-search"}}">
      <input name="q" type="text" placeholder="search" value="{{Q.q}}">
      <button type="submit">search</button>
    </form>
  </div>

  <div class="sec_props">
    <h3>properties:</h3>

    <table class="full-width">
  {{#include "." "keyvalues"}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{value}}
        </td>
      </tr>
  {{/include}}
    </table>
  </div>

  <h3>nodes:</h3>

  <table class="sec_nodes full-width">
{{#include "." "children"}}
  {{#if isContentResource}}
    <tr>
      <td>
        <a href="{{req_path path "edit"}}">{{name}}</a>
      </td>
      <td>
        {{contentType}} ({{contentSize}})
      </td>
      <td>
        {{include path "res-list-actions"}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td>
        <a href="{{req_path path}}">{{or _.title name}}/</a>
      </td>
      <td>
    {{#if renderType}}
        <a target="_blank" href="{{req_path C.USER_TEMPLATES "/" renderType "res-list"}}">{{renderType}}</a>
    {{else}}
        {{type}}
    {{/if}}
        <a target="_blank" href="{{req_path path "res-renderer"}}">renderer</a>
      </td>
      <td>
        {{include path "res-list-actions"}}
      </td>
    </tr>
  {{/if}}
{{/include}}
  </table>

</body>
</html>
