<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "resource/res-ui.css" "resource/node/res-list.css"}}

  <title>properties:{{R.PATH}}</title>
</head>

<body>

  <ol class="paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <div class="buttons">
    <a href="{{req_path "." "res-renderer"}}">r</a>
    <a href="{{req_path "." "res-list"}}">list</a>
  </div>

  <h4>Resource Properties</h4>

  <table>
{{#include "." "keyvalues"}}
    <tr>
      <td>{{name}}</td>
      <td>
        <input name="{{name}}" value="{{value}}" form="save_form" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false">
      </td>
      <td>
        <button type="submit" form="save_form" style="display:none">+</button>
        <form method="post" action="{{res_path "."}}">
          <input type="hidden" name=":forward" value="{{req_path "."}}">
          <button type="submit" name="{{name}}">-</button>
        </form>
      </td>
    </tr>
{{/include}}
    <tr>
      <td>
        <input name=":name" value="" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" placeholder="name" form="save_form">
      </td>
      <td>
        <input name="{:name}" value="" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" placeholder="value" form="save_form">
      </td>
      <td>
        <button type="submit" form="save_form">+</button>
      </td>
    </tr>
  </table>

  <form method="post" action="{{res_path "."}}" id="save_form">
    <input type="hidden" name=":forward" value="{{req_path "."}}">
  </form>

</body>
</html>
