<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>Delete</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>

  <div role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" href="{{ref_path R.PATH_APPEND "../" "res-list"}}"><span aria-hidden="true">&times;</span></a>
          <h4 class="modal-title">Delete Resource</h4>
        </div>
        <div class="modal-body">

          <ol class="breadcrumb">
            <li class="active">HOME</li>
            {{#include "." "parents"}}
              <li class="active">{{name}}</li>
            {{/include}}
            <li>{{R.NAME}}</li>
          </ol>

          <h4>Are you sure you want to delete "{{name}}"?</h4>

        </div>
        <div class="modal-footer">
          <form class="form-inline" method="post" action="{{res_path R.PATH}}">
            <a class="btn btn-default" href="{{ref_path R.PATH_APPEND "../" "res-list"}}">Cancel</a>
            <input type="hidden" name="_rt" value="{{renderType}}">
            <input type="hidden" name=":delete" value="{{res_path R.PATH}}">
            <input type="hidden" name=":forward" value="{{ref_path R.PATH_APPEND "../" "res-list"}}">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</body>

</html>
