<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "resource/res-ui.css"}}

  <title>move to</title>
</head>

<body>
  <h3>Move "{{name}}"
    <a class="button" href="{{ref_path "/" "ui-close"}}">cancel</a>
  </h3>

  <ol class="paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>to</h4>

  <ol class="paths">
    <li><a href="{{req_path "." "res-moveto"}}/">HOME</a></li>
{{#include R.DATA_PATH "parents"}}
    <li><a href="{{req_path "." "res-moveto"}}{{path}}">{{name}}</a></li>
{{/include}}
    <li class="active">{{R.DATA_NAME}}</li>
  </ol>

  <ol>
{{#include R.DATA_PATH "children"}}
  {{#if isContentResource}}
    <li>{{name}}</li>
  {{else}}
    {{#match path "!startsWith" ../R.PATH}}
    <li>
      <a href="{{req_path "." "res-moveto"}}{{path}}">{{name}}</a>
    </li>
    {{/match}}
  {{/if}}
{{/include}}
  </ol>

  <form method="POST" action="{{R.PATH}}">
    <h4>name</h4>
    
    <input name=":name|newUUID" value="{{R.NAME}}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
    <input type="hidden" name=":moveto" value="{{res_path R.DATA_PATH "{:name}"}}">
    <input type="hidden" name=":forward" value="{{ref_path "/" "ui-close"}}">

    <button type="submit">move</button>
  </form>

</body>
</html>
