<div class="btn-group btn-group-xs">
  <a class="btn btn-default glyphicon glyphicon-trash" href="{{path}}.xres-delete"></a>
  <a class="btn btn-default glyphicon glyphicon-plus-sign" href="{{path}}.xres-copyto{{path}}/.."></a>
  <a class="btn btn-default glyphicon glyphicon-move" href="{{path}}.xres-moveto{{path}}/.."></a>
</div>
<div class="btn-group btn-group-xs">
{{#if renderType}}
  <a class="btn btn-default glyphicon glyphicon-eye-open" target="_blank" href="{{path}}.xhtml"></a>
{{/if}}
  <a class="btn btn-default btn-default glyphicon glyphicon-edit" href="{{path}}.xres-properties"></a>
</div>
