<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>create</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>

  <div role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" href="{{C.P}}{{R.PATH}}{{C.X}}res-list"><span aria-hidden="true">&times;</span></a>
          <h4 class="modal-title">Create New Resource</h4>
        </div>
        <div class="modal-body">

          <ol class="breadcrumb">
            <li class="active">HOME</li>
            {{#include "." "parents"}}
              <li class="active">{{name}}</li>
            {{/include}}
            <li>{{R.NAME}}</li>
          </ol>

          <h5>Resource Node</h5>
          <form class="form-inline" method="post" action="{{C.P}}{{R.PATH_APPEND}}{:name}">
            <div class="form-group">
              <input class="form-control" name=":name|newUUID" value="" autocomplete="off" placeholder="name">

              <select class="form-control" name="_rt">
                <option value="">type not set</option>
                <option disabled>user templates:</option>
                {{#include C.USER_TEMPLATES "rendertemplates"}}
                  <option value="{{this}}">{{this}}</option>
                {{/include}}
              </select>
              
              <input type="hidden" name=":forward" value="{{C.P}}{{R.PATH}}{{C.X}}res-list">
              <button class="form-control btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </form>

          <h5>Create Empty File</h5>

          <form class="form-inline" method="post" action="{{C.P}}{{R.PATH_APPEND}}{:name}">
            <div class="form-group">
              <input class="form-control" name=":name|newUUID" value="" autocomplete="off" placeholder="file name">
              <input type="hidden" name="_content" value=""></input>
              <!--input type="hidden" name="_ct" value="text/plain"></input-->
              <input type="hidden" name=":forward" value="{{C.P}}{{R.PATH}}{{C.X}}res-list">
              <button class="form-control btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </form>


          <hr>
          <h5>Upload File</h5>

          <form class="form-inline" method="post" enctype="multipart/form-data" action="{{C.P}}{{R.PATH_APPEND}}{:name}">
            <div class="form-group">
              <input class="form-control" type="file" name=":filename" value="">
              <input class="form-control" name=":name|:filename|newUUID" value="" autocomplete="off" placeholder="file name">
              <input type="hidden" name=":forward" value="{{C.P}}{{R.PATH}}{{C.X}}res-list">
              <button class="form-control btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
              </button>

            </div>
          </form>

          <h5>Import File</h5>
          <form class="form-inline" method="post" enctype="multipart/form-data" action="{{R.PATH}}">
            <div class="form-group">
              <input class="form-control" type="file" name=":import" value="">
              <input type="hidden" name=":forward" value="{{C.P}}{{R.PATH}}{{C.X}}res-list">

              <button class="form-control btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <a class="btn btn-default" href="{{C.P}}{{R.PATH}}{{C.X}}res-list">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>

</html>
