<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  {{#partial "text_opts"}}
autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false"
  {{/partial}}

  <title>copy to</title>
</head>

<body class="ui_group ui_dialog">

  <h1 class="ui_label underlined">Copy "{{name}}"
    <a class="ui_button pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>

  <ol class="ui_paths">
    <li>HOME</li>
{{#include "." "parents"}}
    <li>{{name}}</li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h1>to</h1>

  <ol class="ui_paths">
    <li><a href="{{req_path "." "res-copyto"}}/">HOME</a></li>
{{#include R.DATA_PATH "parents"}}
    <li><a href="{{req_path "." "res-copyto"}}{{path}}">{{name}}</a></li>
{{/include}}
    <li>{{R.DATA_NAME}}</li>
  </ol>

  <ol>
{{#include R.DATA_PATH "children"}}
  {{#if isContentResource}}
    <li>{{name}}</li>
  {{else}}
    {{#match path "!startsWith" ../R.PATH}}
    <li>
      <a href="{{req_path "." "res-copyto"}}{{path}}">{{name}}</a>
    </li>
    {{/match}}
  {{/if}}
{{/include}}
  </ol>

  <h3>name:</h3>
  <form method="post" action="{{R.PATH}}">

    <input type="text" name=":name|newUUID" value="Copy of {{R.NAME}}" {{> text_opts}}>
    <input type="hidden" name=":copyto" value="{{res_path R.DATA_PATH "{:name}"}}">
    <input type="hidden" name=":forward" value="{{req_path "." "ui-close"}}">

    <button type="submit">copy</button>
  </form>

  <h3>Export</h3>

  <a class="ui_button" target="_blank" href="{{req_path "." "export"}}">as JSON</a>
  <a class="ui_button" href="{{req_path "." "res-exportto"}}{{R.DATA_PATH}}">to resource...</a>
{{#if isContentResource}}
  <a class="ui_button" href="{{req_path "." "res-importto"}}{{R.DATA_PATH}}">import into...</a>
{{/if}}

</body>
</html>
