<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>copy to</title>

    <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
	</head>
	<body>
		<div class="container">

			<h1>Copy</h1>

			<ol class="breadcrumb">
				<li><a href="/{{or R.REF_SUFFIX ".xres-list"}}">HOME</a></li>
			{{#include "." "parents"}}
				<li><a href="{{path}}{{or R.REF_SUFFIX ".xres-list"}}">{{name}}</a></li>
			{{/include}}
				<li class="active">{{R.NAME}}</li>
			</ol>

			<h1>to</h1>

			<ol class="breadcrumb">
				<li><a href="{{R.PATH}}.xres-copyto/">HOME</a></li>
			{{#include R.DATA_PATH "parents"}}
				<li><a href="{{R.PATH}}.xres-copyto{{path}}">{{name}}</a></li>
			{{/include}}
				<li class="active">{{R.DATA_NAME}}</li>
			</ol>

      <table class="table">
			{{#include R.DATA_PATH "children"}}
				{{#if isContentResource}}
				<tr>
          <td>
					  <i class="glyphicon glyphicon-file"></i> {{name}}
          </td>
				</tr>
				{{else}}
				<tr>
          {{#match path "startsWith" R.PATH}}
            <td>
					    <i class="glyphicon glyphicon-folder-close"></i> {{name}}
            </td>
          {{/match}}
          {{#default}}
            <td>
					    <i class="glyphicon glyphicon-folder-close"></i> <a href="{{R.PATH}}.xres-copyto{{path}}">{{name}}</a>
            </td>
          {{/default}}
				</tr>
				{{/if}}

			{{/include}}
			</table>
			
			<form method="post" action="{{R.PATH}}.xres-list">
				<input name=":name|newUUID" value="{{R.NAME}}" autocomplete="off">
				<input type="hidden" name=":copyto" value="{{R.DATA_PATH_APPEND}}{:name}">
				<input type="submit" value="copy">
			{{#if R.REF_PATH}}
				<input type="hidden" name=":forward" value="{{R.REF_PATH}}{{R.REF_SUFFIX}}">
      {{else}}
				<input type="hidden" name=":forward" value="{{R.DATA_PATH}}.xres-list">
			{{/if}}
			</form>
			<a class="btn btn-default" target="_blank" href="{{R.PATH}}.xexport">export</a>
		</div>
	</body>
</html>
