  <a target="_blank" href="{{req_path path "res-delete"}}">d</a>
  <a target="_blank" href="{{req_path path "res-copyto"}}{{path}}/..">c</a>
  <a target="_blank" href="{{req_path path "res-moveto"}}{{path}}/..">m</a>
  <a target="_blank" href="{{req_path path "res-properties"}}">p</a>
{{#if renderType}}
  <a target="_blank" href="{{req_path path ""}}">v</a>
{{/if}}
