<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css" "resource/node/res-list.css"}}

  <title>properties:{{R.PATH}}</title>
</head>

<body class="ui_group ui_dialog">

  <h1 class="ui_label underlined">Properties for "{{name}}"
    <a class="ui_button pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>

  <ol class="ui_paths">
    <li><a href="{{req_path "/"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <a class="ui_button" href="{{req_path "." "res-renderer"}}">renderer</a>

  <h3>Resource Properties</h3>

  <table>
{{#include "." "keyvalues"}}
    <tr>
      <td>{{name}}</td>
      <td>
        <input type="text" name="{{name}}" value="{{value}}" form="save_form" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false">
      </td>
      <td>
        <button type="submit" form="save_form" style="display:none">+</button>
        <form method="post" action="{{res_path "."}}">
          <input type="hidden" name=":forward" value="{{req_path "."}}">
          <button type="submit" name="{{name}}">-</button>
        </form>
      </td>
    </tr>
{{/include}}
    <tr>
      <td>
        <input type="text" name=":name" value="" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" placeholder="name" form="save_form">
      </td>
      <td>
        <input type="text" name="{:name}" value="" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false" placeholder="value" form="save_form">
      </td>
      <td>
        <button type="submit" form="save_form">+</button>
      </td>
    </tr>
  </table>

  <button type="submit" form="save_form">save</button>
  <form method="post" action="{{res_path "."}}" id="save_form">
    <input type="hidden" name=":forward" value="{{req_path "."}}">
  </form>

</body>
</html>
