{{#if renderType}}
<div class="btn-group btn-group-xs">
  <a class="btn btn-default glyphicon glyphicon-eye-open" target="_blank" href="{{path}}"></a>
</div>
{{/if}}

<div class="btn-group btn-group-xs">
  <a class="btn btn-default glyphicon glyphicon-trash" href="{{req_path path "res-delete"}}"></a>
  <a class="btn btn-default glyphicon glyphicon-duplicate" href="{{req_path path "res-copyto"}}{{path}}/.."></a>
  <a class="btn btn-default glyphicon glyphicon-transfer" href="{{req_path path "res-moveto"}}{{path}}/.."></a>
</div>
<div class="btn-group btn-group-xs">
  <a class="btn btn-default btn-default glyphicon glyphicon-edit" href="{{req_path path "res-properties"}}"></a>
</div>
