<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "resource/res-ui.css"}}

  <title>delete:{{R.PATH}}</title>
</head>

<body>
  <h3>Delete
    <a class="button" href="{{req_path "../" "res-list"}}">cancel</a>
  </h3>

  <ol class="paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>Are you sure you want to delete "{{name}}"?</h4>

  <form method="post" action="{{res_path "."}}">
    <input type="hidden" name="_rt" value="{{renderType}}">
    <input type="hidden" name=":delete" value="{{res_path "."}}">
    <input type="hidden" name=":forward" value="{{ref_path "/../" "res-list"}}">
    <button type="submit">delete</button>
  </form>

</body>

</html>
