<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>renderer properties</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>

  <div role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" class="form-inline" method="POST" id="save_form" action="{{R.PATH}}">
        <div class="modal-header">
          <a class="close" href="{{ref_path R.PATH "res-list"}}"><span aria-hidden="true">&times;</span></a>
          <h4 class="modal-title">Renderer Properties</h4>
        </div>
        <div class="modal-body">

          <ol class="breadcrumb">
            <li class="active">HOME</li>
            {{#include "." "parents"}}
              <li class="active">{{name}}</li>
            {{/include}}
            <li>{{R.NAME}}</li>
          </ol>

          <h4>Set User Defined Renderers</h4>
          <p>User defined renderer templates are stored in <a href="{{req_path C.USER_TEMPLATES "/" renderType "res-list"}}">{{C.USER_TEMPLATES}}/{{renderType}}</a></p>

          <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4">render type</label>
                <div class="col-sm-6">
                  <select class="form-control" name="_rt">
                    <option value="">not set</option>
                    <option disabled>-</option>
                    {{#include C.USER_TEMPLATES "rendertemplates"}}
                      <option value="{{this}}" {{eq this ../renderType "selected"}}>{{this}}</option>
                    {{/include}}
                  </select>
                </div>
              </div>
            
              <div class="form-group">
                <label class="col-sm-4">render super type</label>
                <div class="col-sm-6">
                  <select class="form-control" name="_st">
                    <option value="">not set</option>
                    <option disabled>-</option>
                    {{#include C.USER_TEMPLATES "rendertemplates"}}
                      <option value="{{this}}" {{eq this ../renderSuperType "selected"}}>{{this}}</option>
                    {{/include}}
                  </select>
                </div>
              </div>

          </div>

          <h4>Renderer will take following types into consideration</h4>
          <ol>
            {{#if renderType}}
            <li>renderType: <b>{{renderType}}</b></li>
            {{else}}
            <li>renderType: <b>no type set</b></li>
            {{/if}}
            {{#if renderSuperType}}
            <li>renderSuperType: <b>{{renderSuperType}}</b></li>
            {{/if}}
            {{#if contentType}}
            <li>contentType: mime/<b>{{contentType}}</b></li>
            {{/if}}
            <li>resourceType: <b>{{type}}</b></li>
            {{#if superType}}
            <li>superType: <b>{{superType}}</b></li>
            {{/if}}
            <li>fallback: <b>any/any</b></li>
          </ol>          


        </div>
        <div class="modal-footer">
          <input type="hidden" name=":forward" value="{{ref_path R.PATH "res-list"}}">
          <a class="btn btn-default pull-left" href="{{req_path C.USER_TEMPLATES "res-create"}}">Create New Template</a>
          <a class="btn btn-default" href="{{ref_path R.PATH "res-list"}}">Cancel</a>
          <input class="btn btn-success" type="submit" value="Save">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>

</html>
