<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>list</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>

  <div class="container">

    <ol class="breadcrumb">
      <li><a href="/{{R.SUFFIX}}">HOME</a></li>
      {{#include "." "parents"}}
        <li><a href="{{path}}{{R.SUFFIX}}">{{name}}</a></li>
      {{/include}}
      <li class="active">{{R.NAME}}</li>
    </ol>

    <div style="margin-bottom:20px">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-default" href="{{R.PATH}}{{C.X}}res-create"><span class="glyphicon glyphicon-plus"></span> Create</a>
      <a class="btn btn-default" href="{{R.PATH}}{{C.X}}res-renderer"><span class="glyphicon glyphicon-fire"></span> Renderer</a>
      <a class="btn btn-default" href="{{R.PATH}}{{C.X}}res-properties"><span class="glyphicon glyphicon-edit"></span> Properties</a>
    </div>

    <div class="btn-group btn-group-sm pull-right">
      <a class="btn btn-default" target="_blank" href="{{path}}{{C.X}}context"><span class="glyphicon glyphicon-cutlery"></span> Context Dump</a>
  {{#if renderType}}
      <a class="btn btn-default" target="_blank" href="{{path}}"><span class="glyphicon glyphicon-eye-open"></span> Render As "{{renderType}}"</a>
  {{/if}}
    </div>
  </div>

    <table class="table table-bordered table-condensed small text-muted" style="background-color:lightgray">
      {{#include "." "properties"}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{value}}
          </td>
        </tr>
      {{/include}}
    </table>

    <table class="table ui-dropzone">
      {{#include "." "children"}}

        {{#if isContentResource}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-file"></i> <a href="{{path}}{{C.X}}edit">{{name}}</a>
            </td>
            <td>
              {{contentType}}
            </td>
            <td class="text-right">
              {{include path "res-list-actions"}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-folder-close"></i> <a href="{{path}}{{R.SUFFIX}}">{{name}}</a>
            </td>
            <td>
              {{#if renderType}}
                <a href="{{C.USER_TEMPLATES}}/{{renderType}}{{C.X}}res-list">{{renderType}}</a>
              {{else}}
                {{type}}
              {{/if}}
            </td>
            <td class="text-right">
              {{include path "res-list-actions"}}
            </td>
          </tr>
        {{/if}}

      {{/include}}
    </table>

  </div>
</body>

</html>
