<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "resource/res-ui.css"}}

  <title>copy to</title>
</head>

<body>
  <h3>Copy "{{name}}"
    <a class="button" href="{{ref_path "/" "ui-close"}}">cancel</a>
  </h3>

  <ol class="paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>to</h4>

  <ol class="paths">
    <li><a href="{{req_path "." "res-copyto"}}/">HOME</a></li>
{{#include R.DATA_PATH "parents"}}
    <li><a href="{{req_path "." "res-copyto"}}{{path}}">{{name}}</a></li>
{{/include}}
    <li>{{R.DATA_NAME}}</li>
  </ol>

  <ol>
{{#include R.DATA_PATH "children"}}
  {{#if isContentResource}}
    <li>{{name}}</li>
  {{else}}
    {{#match path "!startsWith" ../R.PATH}}
    <li>
      <a href="{{req_path "." "res-copyto"}}{{path}}">{{name}}</a>
    </li>
    {{/match}}
  {{/if}}
{{/include}}
  </ol>

  <h4>name</h4>
  <form method="post" action="{{R.PATH}}">

    <input name=":name|newUUID" value="Copy of {{R.NAME}}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
    <input type="hidden" name=":copyto" value="{{res_path R.DATA_PATH "{:name}"}}">
    <input type="hidden" name=":forward" value="{{ref_path "/" "ui-close"}}">

    <button type="submit">copy</button>
  </form>

  <h3>Export</h3>

  <a class="button" target="_blank" href="{{req_path "." "export"}}">as JSON</a>
  <a class="button" href="{{req_path "." "res-exportto"}}{{R.DATA_PATH}}">to resource...</a>
{{#if isContentResource}}
  <a class="button" href="{{req_path "." "res-importto"}}{{R.DATA_PATH}}">import into...</a>
{{/if}}

</body>
</html>
