<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  <title>renderer properties</title>
</head>

<body>

  <h1>Renderer Properties "{{name}}"
    <a class="ui_button pull-right" href="{{req_path R.PATH "ui-close"}}">X</a>
  </h1>
 
  <ol class="ui_paths">
    <li>HOME / </li>
{{#include "." "parents"}}
    <li>{{name}} / </li>
{{/include}}
    <li>{{name}}</li>
  </ol>
  
  <h3>Set User Defined Renderers</h3>
    
  <p>User defined renderer templates are stored in <a href="{{req_path C.USER_TEMPLATES "/" renderType "res-list"}}">{{C.USER_TEMPLATES}}/{{renderType}}</a>
  <a class="ui_button" href="{{req_path C.USER_TEMPLATES "res-create"}}">create template...</a>
  </p>

  <h3>Renderer will take following types into consideration</h3>
  <ol>
{{#if renderType}}
      <li>renderType: <b>{{renderType}}</b></li>
{{else}}
      <li>renderType: <b>no type set</b></li>
{{/if}}
{{#if renderSuperType}}
      <li>renderSuperType: <b>{{renderSuperType}}</b></li>
{{/if}}
{{#if contentType}}
      <li>contentType: mime/<b>{{contentType}}</b></li>
{{/if}}
      <li>resourceType: <b>{{type}}</b></li>
{{#if superType}}
      <li>superType: <b>{{superType}}</b></li>
{{/if}}
      <li>fallback: <b>any/any</b></li>
  </ol>          

  <form method="post" id="save_form" action="{{R.PATH}}">
    <label>render <b>type:</b></label>
    <select name="_rt">
      <option value="">not set</option>
      <option disabled>-</option>
{{#include C.USER_TEMPLATES "rendertemplates"}}
      <option value="{{this}}" {{eq this ../renderType "selected"}}>{{this}}</option>
{{/include}}
    </select>
            
    <label class="col-sm-4">render <b>super type:</b></label>
    <select class="form-control" name="_st">
      <option value="">not set</option>
      <option disabled>-</option>
{{#include C.USER_TEMPLATES "rendertemplates"}}
      <option value="{{this}}" {{eq this ../renderSuperType "selected"}}>{{this}}</option>
{{/include}}
    </select>

    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">
    <button type="submit">save</button>
  </form>

</body>

</html>
