<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  <title>export to</title>
</head>

<body class="ui_group dialog">

  <h1 class=ui_label underlined">Export from "{{name}}"
    <a class="ui_button pull-right" href="{{req_path "../" "ui-close"}}">X</a>
  </h1>

  <ol class="ui_paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h1>to</h1>

  <ol class="ui_paths">
    <li><a href="{{req_path "." "res-exportto"}}/">HOME</a></li>
{{#include R.DATA_PATH "parents"}}
    <li><a href="{{req_path "." "res-exportto"}}{{path}}">{{name}}</a></li>
{{/include}}
    <li class="active">{{R.DATA_NAME}}</li>
  </ol>

  <ol>
{{#include R.DATA_PATH "children"}}
  {{#if isContentResource}}
    <li>{{name}}</li>
  {{else}}
    {{#match path "!startsWith" R.PATH}}
    <li>
      <a href="{{req_path "." "res-exportto"}}{{path}}">{{name}}</a>
    </li>
    {{/match}}
  {{/if}}
{{/include}}
  </ol>

  <form method="post" action="{{res_path "."}}{{C.X}}export{{res_path R.DATA_PATH "{:name}"}}">
    <input type="text" name=":name|newUUID" value="{{R.NAME}}.json" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
    <input type="hidden" name=":forward" value="{{req_path R.DATA_PATH "res-list"}}">
    <button type="submit">export</button>
  </form>

</body>
</html>
