{{#if renderType}}
  <a target="_blank" href="{{R.PATH}}/{{name}}.xhtml">[v]</a>
{{/if}}
  <a href="{{path}}.xres-delete">[x]</a>
  <a href="{{path}}.xres-copyto{{path}}/..">[c]</a>
  <a href="{{path}}.xres-moveto{{path}}/..">[m]</a>
  <a href="{{path}}.xres-properties">[p]</a>
