<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>properties</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>

  <div role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" href="{{R.PATH_APPEND}}../.xres-list"><span aria-hidden="true">&times;</span></a>
          <h4 class="modal-title">Resource Properties</h4>
        </div>
        <div class="modal-body">

          <ol class="breadcrumb">
            <li class="active">HOME</li>
            {{#include "." "parents"}}
              <li class="active">{{name}}</li>
            {{/include}}
            <li>{{R.NAME}}</li>
          </ol>

          <h4>Other renderers</h4>
          <div class="form-horizontal">
            <form method="post" action="">
              <div class="form-group">
                <label class="col-sm-2">_rt</label>
                <div class="col-sm-8">
                  <select class="form-control" name="_rt">
                    <option value="">not set</option>
                    <option disabled>-</option>
                    {{#include "/apps" "rendertypes"}}
                      <option value="{{this}}" {{eq this ../renderType "selected"}}>{{this}}</option>
                    {{/include}}
                  </select>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-success" type="submit">
                    <span>set</span>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <h4>properties:</h4>

          {{#include "." "properties"}}
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2">{{name}}</label>
                <div class="col-sm-8">
                  <input class="form-control" name="{{name}}" value="{{value}}" form="save_form" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
                </div>
                <div class="col-sm-2">
                  <form method="POST" action="{{R.PATH}}{{R.SUFFIX}}">
                    <input type="hidden" name="{{name}}" value="">
                    <button class="btn btn-danger" type="submit" name="{{name}}" value="">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          {{/include}}

          <form class="form-horizontal" method="post" action="{{R.PATH}}{{R.SUFFIX}}">
            <div class="form-group">
              <div class="col-sm-2">
                <input class="form-control" name=":name" value="" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" placeholder="name">
              </div>
              <div class="col-sm-8">
                <input class="form-control" name="{:name}" value="" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" placeholder="value">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-success" type="submit" value="add">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </form>

      </div>
      <div class="modal-footer">

        <form class="form-horizontal" class="form-inline" method="post" id="save_form" action="{{R.PATH}}.xres-list">
          <a class="btn btn-default" href="{{R.PATH_APPEND}}../.xres-list">Cancel</a>
          <input class="btn btn-success" type="submit" value="Save">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>

</html>
