<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>delete</title>

    <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
	</head>
	<body>
		<div class="container">

			<ol class="breadcrumb">
				<li><a href="/{{or R.REF_SUFFIX ".xres-list"}}">HOME</a></li>
			{{#include "." "parents"}}
				<li><a href="{{path}}{{or R.REF_SUFFIX ".xres-list"}}">{{name}}</a></li>
			{{/include}}
				<li class="active">{{R.NAME}}</li>
			</ol>

			<h1>Delete Resource ?</h1>

			<form method="post" action="{{R.PATH}}.xres-list">
				<input type="hidden" name=":delete" value="{{R.PATH}}">
				<input type="hidden" name=":forward" value="{{R.PATH_APPEND}}../.xres-list">
				<input type="submit" value="delete">
			</form>
		</div>
	</body>
</html>
