<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create</title>

    <link href="{{E.BOOTSTRAP_CSS}}" rel="stylesheet">
	</head>
	<body>

		<div class="container">

			<ol class="breadcrumb">
				<li><a href="/.xres-list">HOME</a></li>
			{{#include "." "parents"}}
				<li><a href="{{path}}.xres-list">{{name}}</a></li>
			{{/include}}
				<li class="active">
					<a href="{{R.PATH}}.xres-list">{{R.NAME}}</a>
				</li>
			</ol>

			<form method="post" enctype="multipart/form-data" action="{{R.PATH_APPEND}}{:name}{{R.SUFFIX}}">
				<div class="form-group">
    		<label>Upload File</label>
					<input class="form-control" type="file" name=":filename" value="">
					<input class="form-control" name=":name|:filename|newUUID" value="" autocomplete="off">
					<input type="hidden" name=":forward" value="{{R.PATH}}.xres-list">
					<input class="form-control" type="submit" value="add">
				</div>
			</form>

			<form method="post" enctype="multipart/form-data" action="{{R.PATH}}{{R.SUFFIX}}">
				<div class="form-group">
    		<label>Import File</label>
					<input class="form-control" type="file" name=":import" value="">
					<input type="hidden" name=":forward" value="{{R.PATH}}.xres-list">
					<input class="form-control" type="submit" value="import">
				</div>
			</form>


			<h6>create resource:</h6>

			<div class="form-horizontal">
				<div class="form-horizontal">
					<form method="post" action="{{R.PATH}}/{:name}">
						<div class="form-group">
							<div class="col-sm-8">
								<select class="form-control" name="_rt">
									<option value="">no set</option>
							{{#include "/apps" "rendertypes"}}
									<option value="{{this}}">{{this}}</option>
							{{/include}}
								</select>
							</div>

							<div class="col-sm-8">
								<input class="form-control" name=":name|newUUID" value="" autocomplete="off">
								<input type="hidden" name=":forward" value="{{R.PATH}}.xres-list">
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-success" type="submit">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<h6>create file</h6>

			<div class="form-horizontal">
				<div class="form-horizontal">
					<form method="post" action="{{R.PATH_APPEND}}{:name}{{R.SUFFIX}}">
						<div class="form-group">
							<div class="col-sm-8">
								<input class="form-control" name=":name|newUUID" value="" autocomplete="off">
								<input type="hidden" name="_rt" value="resource/content"></input>
								<input type="hidden" name="_content" value=""></input>
								<input type="hidden" name="_ct" value="text/plain"></input>
								<input type="hidden" name=":forward" value="{{R.PATH}}.xres-list">
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-success" type="submit">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</body>
</html>
