<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>Delete</title>

</head>

<body>

  <h4 class="modal-title">Delete Resource</h4>

  <ol>
    <li>HOME</li>
{{#include "." "parents"}}
    <li>{{name}}</li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>Are you sure you want to delete "{{name}}"?</h4>

  <form method="POST" action="{{res_path "."}}">
    <a href="{{req_path "../" "res-list"}}">Cancel</a>

    <input type="hidden" name="_rt" value="{{renderType}}">
    <input type="hidden" name=":delete" value="{{res_path "."}}">
    <input type="hidden" name=":forward" value="{{ref_path "/../" "res-list"}}">
    <input type="submit" value="Delete">
  </form>

</body>

</html>
