<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  {{#partial "text_opts"}}
autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false"
  {{/partial}}

  <title>index content</title>
</head>

<body class="ui_group dialog">

  <h1>Index Resource Content
    <a class="ui_button pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>

  <ol class="ui_paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h4>Index Text</h4>

  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH "{:name}"}}">
    <textarea autocorrect="off" autocapitalize="none" {{> text_opts}} name="_content"></textarea>
    <input type="text" name=":name|newUUID" value="" {{> text_opts}} placeholder="reference path">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "res-list"}}">
    <button type="submit">index</button>
  </form>

  <h4>Index File</h4>

  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH "{:name}"}}">
    <input type="file" name=":filename" value="">
    <input type="text" name=":name|:filename|newUUID" value="" {{> text_opts}} placeholder="reference path">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "res-list"}}">
    <button type="submit">upload</button>
  </form>

  <h4>Import File</h4>
          
  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH}}">
    <input class="form-control" type="file" name=":import" value="">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "res-list"}}">
    <button type="submit">import</button>
  </form>

</body>
</html>
