<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Index Search</title>
</head>

<body>

  <ol>
    <li><a href="{{req_path "/"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path}}">{{name}}</a></li>
{{/include}}
    <li class="active">{{name}}</li>
  </ol>

  <a href="{{req_path "." "res-create"}}">create</a>

  <form method="get" action="/index{{C.X}}res-list">
    <input name="q" type="text" placeholder="search" value="{{Q.q}}">
  </form>

  <table>
{{#include "." "children"}}
    <tr>
      <td>
        <a href="{{C.P}}{{_.reference}}{{R.SUFFIX}}">{{name}}</a>
      </td>
      <td>
        {{_.score}}
      </td>
      <td>
        <a class="btn btn-default glyphicon glyphicon-trash" href="{{C.P}}{{path}}{{C.X}}res-delete"></a>
      </td>
    </tr>
{{/include}}
  </table>

</body>
</html>
