<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>

    <link href="{{E.BOOTSTRAP_CSS}}" rel="stylesheet">

		<style>
			html,body,.container {
				height: 100%;
			}
			
			img.image {
				max-width:250px;
			}

			img.pdf {
				width:100%;
			}

      #editor-container {
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid black;
      }

      #editor-container textarea {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 10px;
        font-family: Courier New, monospace;
        font-size: 11px;
      }
            
		</style>
	</head>
	<body>
		<div class="container">

			<ol class="breadcrumb">
				<li><a href="/.xres-list">HOME</a></li>
			{{#include "." "parents"}}
				<li><a href="{{path}}.xres-list">{{name}}</a></li>
			{{/include}}
				<li class="active">{{R.NAME}}</li>
			</ol>

			{{#match contentType "startsWith" "application/javascript"}}
			<form method="post" action="{{R.PATH}}{{R.SUFFIX}}">
				<div class="btn-group btn-group-sm" style="margin-bottom:20px">
					<a class="btn btn-default" href="{{R.PATH}}.xres-properties">properties</a>
					<input class="btn btn-default" type="submit" value="save"></input>
				</div>

				<div id="editor-container">
					<textarea name="_content">{{include "." "text"}}</textarea>
				</div>
				<input type="hidden" name="_rt" value="resource/content"></input>
				<input type="hidden" name="_ct" value="{{contentType}}"></input>
			</form>
			{{/match}}
			{{#match contentType "startsWith" "text/"}}
			<form method="post" action="{{R.PATH}}{{R.SUFFIX}}">
				<div class="btn-group btn-group-sm" style="margin-bottom:20px">
					<a class="btn btn-default" href="{{R.PATH}}.xres-properties">properties</a>
					<input class="btn btn-default" type="submit" value="save"></input>
				</div>

				<div id="editor-container">
					<textarea name="_content">{{include "." "text"}}</textarea>
				</div>
				<input type="hidden" name="_rt" value="resource/content"></input>
				<input type="hidden" name="_ct" value="{{contentType}}"></input>
			</form>
			{{/match}}
			{{#match contentType "startsWith" "image/"}}
				<div class="btn-group btn-group-sm" style="margin-bottom:20px">
					<a class="btn btn-default" href="{{R.PATH}}.xres-properties">properties</a>
					<a class="btn btn-default" target="_blank" href="{{include "." "externalize"}}">view</a>
				</div>

				<div>
					<img class="image" src="{{include "." "externalize"}}"></img>
				</div>
			{{/match}}
			{{#match contentType "startsWith" "application/pdf"}}
				<div class="btn-group btn-group-sm" style="margin-bottom:20px">
					<a class="btn btn-default" href="{{R.PATH}}.xres-properties">properties</a>
					<a class="btn btn-default" target="_blank" href="{{include "." "externalize"}}">view</a>
				</div>

				<div>
					<iframe class="pdf" src="{{include "." "externalize"}}"></iframe>
				</div>
			{{/match}}

      {{#default}}
        unknown file type of {{contentType}} <br>
        <a href="{{include "." "externalize"}}" download target="_blank">download</a>
      {{/default}}
		</div>
	</body>
