<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>edit</title>

    <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
    <link href="{{C.CODEMIRROR_CSS}}" rel="stylesheet">
    <link href="{{C.CODEMIRROR_THEME}}" rel="stylesheet">
    <script src="{{C.CODEMIRROR_JS}}"></script>
    <style>
      #editor-container {
          margin-top: 20px;
        }
      #editor-container textarea {
          width: 100%;
        }

        #editor-container .CodeMirror {
          position: fixed;
          bottom: 0px;
          top: 100px;
          right: 0px;
          left: 0px;
          font-size: 11px;
          line-height: 11px;
          height: initial;
        }
        #editor-container img {
          max-width: fit-content;
          width: 100%;
        }
    </style>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        var ta = document.querySelector('textarea');
        if (ta) {
          var editor = CodeMirror.fromTextArea(ta, {
            lineNumbers: true,
            autofocus: true,
            tabSize: 2,
            indentWithTabs: false,
            mode: 'javascript',
            theme: 'solarized dark'
          });
        }
      });
    </script>
  </head>

  <body>
    <div class="container">

      <ol class="breadcrumb">
        <li><a href="{{C.P}}/{{C.X}}res-list">HOME</a></li>
        {{#include "." "parents"}}
          <li><a href="{{C.P}}{{path}}{{C.X}}res-list">{{name}}</a></li>
        {{/include}}
        <li class="active">{{R.NAME}}</li>
      </ol>

      {{#match isTextContentResource}}
        <form method="post" action="{{C.P}}{{R.PATH}}{{R.SUFFIX}}">

          <div class="btn-group btn-group-sm">
            <a class="btn btn-default" href="{{C.P}}{{R.PATH}}/../{{C.X}}res-list"><span class="glyphicon glyphicon-th-list"></span> List</a>
          </div>
          <div class="btn-group btn-group-sm pull-right">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
          </div>

          <div id="editor-container">
            <textarea autocorrect="off" autocapitalize="none" autocomplete="off" autofocus="on" spellcheck="false" name="_content">
{{include-safe "." "text"}}</textarea>
          </div>
          <input type="hidden" name="_rt" value="resource/content"></input>
          <input type="hidden" name="_ct" value="{{contentType}}"></input>
        </form>
      {{/match}}
      {{#match contentType "startsWith" "image/"}}

        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" href="{{C.P}}{{R.PATH}}/../{{C.X}}res-list"><span class="glyphicon glyphicon-th-list"></span> List</a>
          <a class="btn btn-default" target="_blank" href="{{include "." "externalize"}}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
        </div>

        <div id="editor-container">
          <img class="image" src="{{include "." "externalize"}}"></img>
        </div>
      {{/match}}
      {{#match contentType "startsWith" "application/pdf"}}

        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" href="{{C.P}}{{R.PATH}}/../{{C.X}}res-list"><span class="glyphicon glyphicon-th-list"></span> List</a>
          <a class="btn btn-default" target="_blank" href="{{include "." "externalize"}}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
        </div>

        <div id="editor-container">
          <iframe class="pdf" src="{{include "." "externalize"}}"></iframe>
        </div>
      {{/match}}

      {{#default}}
        unknown file type of {{contentType}} <br>
        <a href="{{include "." "externalize"}}" download target="_blank">download</a>
      {{/default}}
    </div>
  </body>

</html>
