<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "resource/content/edit.css" "resource/res-ui.css"}}
  {{include_js "resource/content/scrollfix.js" "resource/res-ui.js"}}

  <title>edit:{{R.PATH}}</title>
</head>

<body>
  <div class="head">
    <ol class="paths">
      <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
      <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
      <li>{{name}}</li>
    </ol>

{{#match isTextContentResource}}
    <div class="buttons">
      <a href="{{req_path ".." "res-list"}}">cancel</a>
      <button type="submit" form="text_form">save</button>
    </div>

  </div>

  <form method="post" action="{{res_path R.PATH}}" id="text_form">
    <input type="hidden" name=":forward" value="{{req_path "."}}">

    <textarea autocorrect="off" autocapitalize="none" autocomplete="off" autofocus="on" spellcheck="false" name="_content">{{include_safe "." "text"}}</textarea>

    <input type="hidden" name="_rt" value="resource/content"></input>
    <input type="hidden" name="_ct" value="{{contentType}}"></input>
  </form>

{{/match}}
{{#match contentType "startsWith" "image/"}}
    <div class="toolbar">
      <a href="{{req_path ".." "res-list"}}">cancel</a>
      <a target="_blank" href="{{include "." "externalize"}}">view</a>
    </div>

  </div>

  <img src="{{include "." "externalize"}}" id="image_view"></img>

{{/match}}
{{#match contentType "startsWith" "application/pdf"}}

    <div class="toolbar">
      <a href="{{req_path ".." "res-list"}}">cancel</a>
      <a target="_blank" href="{{include "." "externalize"}}">open</a>
    </div>
  
  </div>

  <iframe src="{{include "." "externalize"}}" id="pdf_view"></iframe>

{{/match}}
{{#default}}

    <div>unknown file type of {{contentType}}</div>
    <a href="{{include "." "externalize"}}" download target="_blank">Download</a>

{{/default}}
</body>

</html>
