<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Root</title>

  <link href="{{C.BOOTSTRAP_CSS}}" rel="stylesheet">
</head>

<body>
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="/{{R.SUFFIX}}">HOME</a></li>
      {{#include "." "parents"}}
        <li><a href="{{path}}{{R.SUFFIX}}">{{name}}</a></li>
      {{/include}}
      <li class="active">{{R.NAME}}</li>
    </ol>

    <div class="btn-group btn-group-sm" style="margin-bottom:20px">
      <a class="btn btn-default" href="{{C.USER_TEMPLATES}}{{C.X}}res-create"><span class="glyphicon glyphicon-fire"></span> Create Template</a>
      <a class="btn btn-default" href="{{R.PATH}}{{C.X}}res-create"><span class="glyphicon glyphicon-hdd"></span> Create Temporary Resource</a>
    </div>

    <table class="table ui-dropzone">
      {{#include "." "children"}}

        {{#if isContentResource}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-file"></i> <a href="{{path}}{{C.X}}edit">{{name}}</a>
            </td>
            <td>
              {{renderType}}
            </td>
            <td>
              <div class="btn-group btn-group-xs pull-right">
                <a class="btn btn-default glyphicon glyphicon-download-alt" href="{{path}}{{C.X}}res-exportto/"></a>
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              <i class="glyphicon glyphicon-folder-close"></i> <a href="{{path}}{{R.SUFFIX}}">{{name}}</a>
            </td>
            <td>
              {{#if renderType}}
                <a href="{{R.PATH}}/{{name}}{{C.X}}res-renderer">{{renderType}}</a>
              {{else}}
                {{type}}
              {{/if}}
            </td>
            <td>
              <div class="btn-group btn-group-xs pull-right">
                <a class="btn btn-default glyphicon glyphicon-download-alt" href="{{path}}{{C.X}}res-exportto/"></a>
              </div>
            </td>
          </tr>
        {{/if}}

      {{/include}}
    </table>

  </div>
</body>

</html>
