<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  {{#partial "text_opts"}}
autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false"
  {{/partial}}

  <title>create</title>
</head>

<body class="ui_group ui_dialog">

  <h1>Create New Root Resource
    <a class="ui_button inline pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>

  <h3>Temporary ObjectResource</h3>

  <form method="post" action="{{res_path R.PATH "{:name}"}}">
    <input type="text" name=":name|newUUID" value="" {{> text_opts}} placeholder="name">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">
    <button type="submit">add</button>
  </form>

  <h3>Import File</h3>
  
  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH}}">
    <input type="file" name=":import" value="">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">

    <button type="submit">import</button>
  </form>

</body>
</html>
