<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {{include_css "_libs/ui.css"}}

  <title>create</title>
</head>

<body>

  <h1>Create New Template in "{{name}}"
    <a class="ui_button pull-right" href="{{req_path "." "ui-close"}}">X</a>
  </h1>
  
  <ol class="ui_paths">
    <li><a href="{{req_path "/" "res-list"}}">HOME</a></li>
{{#include "." "parents"}}
    <li><a href="{{req_path path "res-list"}}">{{name}}</a></li>
{{/include}}
    <li>{{name}}</li>
  </ol>

  <h3>Renderer Template</h3>

  <p>
    Renderer template is resolved by scanning for a file matching specific naming convention pattern.
  <p>
    Pattern is composed of these parts: <br>
    <span>resource type</span> - usually a directory<br>
    <span>selector</span> - "default" or what gets appended after "{{C.X}}" like "json" for {{C.X}}json
  <p>
    for example:
  <ul>
    <li><span>web/mycomponent/</span><b>default.hbs</b></li>
  </ul>

  <form method="post" action="{{R.PATH}}/{:name}/{:sel}.{:ext}">
    <input type="text" name=":name" value="{{R.DATA_PATH}}" placeholder="full path" required="" autocomplete="off">
    {{C.X}}
    <input type="text" name=":sel" value="default" placeholder="selector" required="" autocomplete="off">
    .
    <select name=":ext" style="width:40px">
      <optgroup label="Handlebars">
        <option value="hbs">hbs</option>
      </optgroup>
      <optgroup label="Javascript">
        <option value="js">js</option>
      </optgroup>
    </select>

    <input type="hidden" name="_content" value=""> 
    <input type="hidden" name="_rt" value="resource/content"> 
    <input type="hidden" name=":forward" value="{{req_path "." "/{:name}/{:sel}.{:ext}" "edit"}}">

    <button type="submit" value="add">add</button>
  </form>

  <h3>Create Directory</h3>

  <form method="post" action="{{res_path R.PATH "{:name}"}}">
    <input type="text" name=":name" value="" required="" placeholder="full path" autocomplete="off">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">

    <button type="submit" value="add">add</button>
  </form>

  <h3>Upload File</h3>
  
  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH}}">
    <input type="file" name=":import" value="">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">

    <button type="submit">upload</button>
  </form>

  <h3>Import File</h3>
  
  <form method="post" enctype="multipart/form-data" action="{{res_path R.PATH}}">
    <input type="file" name=":import" value="">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "ui-close"}}">

    <button type="submit">import</button>
  </form>

</body>
</html>
