<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mount</title>
</head>

<body>
  
  <ol>
    <li>HOME</a></li>
{{#include "." "parents"}}
    <li>{{name}}</li>
{{/include}}
    <li>{{R.NAME}}</li>
  </ol>

  <h6>Create ObjectResource as:</h6>

  <form method="post" action="{{R.PATH}}{:name}">
    <input name=":name|newUUID" value="" autocomplete="off" placeholder="name">
    <input type="hidden" name=":forward" value="{{req_path R.PATH "res-list"}}">
    <button type="submit">add</button>
  </form>
  
  <a class="btn btn-default" href="{{req_path R.PATH_APPEND "../" "res-list"}}">Cancel</a>

</body>
</html>
